body{
    background-color: #141414;
}
.logo {
    width: 100px;
}

.right-nav {
    padding-right: 20px;
    align-items: center;
}

.right-nav img {
    width: 35px;
}

.right-nav,
ion-icon,
a {
    padding: 0 20px;
}

.right-nav ion-icon {
    font-size: 25px;
}

.under-nav {
padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.genres button {
    display: flex;
    align-items: center;
padding: 5px;
    background-color: black;
    border: solid 1px white;
}

.genres {
   
    padding-inline: 10px;
}

.genres ion-icon {
    padding-inline: 5px;
}

.layout-grid {
   
    padding-right: 20px;
   
}
.layout-grid i{
    font-size: 13px;
   
}

.tv-shows-container {
    padding-inline: 30px;
    align-items: center;
}

.first-grid,
.second-grid {
    color: rgba(255, 255, 255, 0.616);
    padding: 0 10px;
    border: solid 1px rgba(255, 255, 255, 0.616);;
}
.first-grid:hover{
    color: white;
    border-color: white;
    animation: click 2s infinite;
}
.second-grid:hover{
    color: white;
    border-color: white;
    animation: click 2s infinite;
}
@keyframes click {
    25%{
        color: rgba(255, 255, 255, 0.616);
        border-color: rgba(255, 255, 255, 0.616);
    }
    50%{
        color: white;
         border-color: white;
    }
    75%{
        color: rgba(255, 255, 255, 0.616);
        border-color:rgba(255, 255, 255, 0.616);
    }
    100%{
        color:white;
        border-color: white
    }
}